#navi a {
    color: white;
    text-decoration: none;
    padding: 10px;
}


#navi a:hover {
    background-color: aliceblue;
    color: red;
}

body {
    background-color: darkcyan;
}
.btn a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.mydiv {
    background-color: white;
}

@media screen and (min-width:780px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
        height: 100%;
    }
    .navbar{
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
}