*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
header, footer{
    background-color: darkslateblue;
    text-align: center;
}
header{
    width: 100%;
    
}
header a{
    position: sticky;
    top: 0;
    color: aliceblue;
}
footer{
    height: 20vh;
    color: aliceblue;
    padding: 15px;
}
article{
    background-color: blanchedalmond;
    flex-grow: 1;
    padding: 10px;
}
nav{
    background-color: gray;
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}
nav a{
    
    padding: 12px ;
}
nav a:hover{
    background-color: #f1f1f1;
    color: black;
}

.contact{
    display: flex;
    flex-direction: column;
}